nav {
    height: 60px;
    display: flex;
    justify-content: center;
    padding: 10px;
}

nav>input {
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 18px;
    width: 250px;
}

nav>button {
    margin-left: 5px;
    width: 100px;
}