.paginate {
    margin: 20px 10px;
}

.paginate button {
    padding: 5px;
    margin: 2px;
    outline: none;
    border: 1px solid black;
    transition: all 200ms;
    background: transparent;
    cursor: pointer;
}

.paginate button.active {
    background: #000;
    color: white;
}